Test2/inputFiles/testPure1.odd

<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_customization.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/Exemplars/tei_customization.isosch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?><TEI xmlns:sch="http://purl.oclc.org/dsdl/schematron"
     xmlns:rng="http://relaxng.org/ns/structure/1.0"
     xmlns="http://www.tei-c.org/ns/1.0"
     xml:lang="en"
     n="testPure1">
  <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Test TEI Customization using Pure ODD</title>
            <author>Martin Holmes</author>
            <author>Syd Bauman</author>
         </titleStmt>
         <publicationStmt>
            <p>Free for anyone for anything</p>
         </publicationStmt>
         <sourceDesc>
            <p>Authored from scratch</p>
         </sourceDesc>
      </fileDesc>
  </teiHeader>
  <text>
      <body>
         <schemaSpec start="TEI div" ident="testPure1" prefix="t_">
            <desc>This file is intended as input for a conversion to
        RNG and Schematron (and possibly other outputs) as part 
        of the modular Stylesheets test process. No source is 
        specified here, because the source p5subset.xml is controlled
        by command-line input. The purpose of this file is to test 
        Pure ODD customizations of TEI whose valid instance files will 
        always validate against tei_all. In other words, it is not 
        a place to test creating new elements in new namespaces, or
        changing content models in such a way as to create non-TEI-
        compliant schemas (for the most severe definition of 
        <soCalled>TEI-compliant</soCalled>).</desc>
        
            <moduleRef key="tei"/>        
            <moduleRef key="header"/>
            <moduleRef key="core"/>
            <moduleRef key="analysis"/>
            <moduleRef key="linking"/>
        
        
            <moduleRef key="textstructure" except="div1 div2 div3 div4 div5 div6 div7"/>
        
        
            <moduleRef key="namesdates" include="persName placeName orgName"/>
        
        
	           <elementRef key="gi"/>
	           <elementRef key="att"/>
	           <elementRef key="val"/>

	
	           <elementSpec module="linking" ident="join" mode="delete"/>
	           <elementSpec module="linking" ident="joinGrp" mode="delete"/>

        
            <classSpec ident="att.lexicographic" mode="delete" type="atts"/>

        
            <classSpec ident="att.datable.custom" mode="delete" type="atts"/>
            <classSpec ident="att.datable.iso" mode="delete" type="atts"/>

        
            <classSpec ident="att.typed" type="atts" mode="change">
               <attList>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>

        
            <classSpec ident="att.global.linking" type="atts" mode="change">
               <attList>
	                 <attDef ident="synch" mode="delete"/>
               </attList>
            </classSpec>

        
            <elementSpec module="core" ident="list" mode="change">
               <classes mode="change">
                  <memberOf key="att.typed" mode="delete"/>
               </classes>
            </elementSpec>
 
        
            <elementSpec module="core" ident="note" mode="change">
               <attList>
                  <attDef ident="anchored" mode="delete"/>
               </attList>
            </elementSpec>

        
            <elementSpec ident="title" mode="change" module="core">
               <attList>
                  <attDef ident="type" mode="replace">
                     <datatype>
                        <dataRef key="teidata.enumerated"/>
                     </datatype>
                     <valList type="closed">
                        <valItem ident="LP">
                           <gloss>long playing</gloss>
                           <desc>12-inch vinyl</desc>
                        </valItem>
                        <valItem ident="single"/>
                        <valItem ident="eightTrack"/>
                        <valItem ident="cassette"/>
                        <valItem ident="CD">
                           <gloss>compact disc</gloss>
                        </valItem>
                        <valItem ident="VCRtape"/>
                        <valItem ident="DVD"/>
                        <valItem ident="blueRay"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>

	
	           <?TEI winita?>

	
	           <elementSpec ident="measureGrp" mode="change" module="core">
	              <attList>
	                 <attDef mode="change" ident="corresp">
	                    <datatype minOccurs="1" maxOccurs="1">
		                      <dataRef key="teidata.count"/>
	                    </datatype>
	                 </attDef>
	                 <attDef mode="change" ident="select">
	                    <datatype minOccurs="1" maxOccurs="1">
		                      <dataRef name="nonNegativeInteger"/>
	                    </datatype>
	                 </attDef>
	                 <attDef mode="change" ident="sameAs">
	                    <datatype minOccurs="1" maxOccurs="1">
		                      <dataRef key="teidata.count" restriction="[0-9][0-9]?"/>
	                    </datatype>
	                 </attDef>
	                 <attDef mode="change" ident="copyOf">
	                    <datatype minOccurs="1" maxOccurs="1">
		                      <dataRef name="nonNegativeInteger" restriction="[0-9][0-9]?"/>
	                    </datatype>
	                 </attDef>
	              </attList>
	           </elementSpec>		

	
	           <elementSpec ident="bibl" mode="change" module="core">
               <desc>A short bibliographic citation with nothing but author, title, and optional date</desc>
               <content>
                  <sequence>
                     <elementRef key="author" minOccurs="2" maxOccurs="unbounded"/>
                     <elementRef key="title" minOccurs="1" maxOccurs="8"/>
	                    <elementRef key="publisher" minOccurs="0" maxOccurs="3"/>
                     <elementRef key="date" minOccurs="0" maxOccurs="1"/>
                  </sequence>
               </content>
            </elementSpec>
        
	
            <elementSpec ident="biblStruct" module="core" mode="delete"/>
        
	
            <elementSpec ident="w" module="linking" mode="change">
               <attList>
                  <attDef ident="ana" mode="change" usage="req"/>
               </attList>
            </elementSpec>

	
            <elementSpec ident="email" module="core" mode="change">
               <content>
                  <valList type="closed">
                     <valItem ident="amourdecosmos@gmail.com">
                        <gloss>The email address of Amour de Cosmos.</gloss>
                     </valItem>
                     <valItem ident="thevenerablebede@gmail.com">
                        <gloss>The email address of The Venerable Bede.</gloss>
                     </valItem>
                  </valList>
               </content>
	              <remarks>
	                 <p>Our <gi>email</gi> element is only allowed to contain
	    one of two email addresses, so we try to constrain its
	    content model using a valList.</p>
	              </remarks>
            </elementSpec>

	
	           <elementSpec ident="linkGrp" module="linking" mode="change">
	              <constraintSpec scheme="schematron" ident="eight_is_enough">
	                 <constraint>
	                    <sch:report test="count(*)&gt;8">Too many links!</sch:report>
	                 </constraint>
	              </constraintSpec>
	           </elementSpec>

         </schemaSpec>
      </body>
      <back>
    </back>
  </text>
</TEI>
