Test/expected-results/oddbyexample.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>ODD by Example customization</title>
         </titleStmt>
         <editionStmt>
            <edition>generated on <date></date>
            </edition>
         </editionStmt>
         <publicationStmt>
            <p/>
         </publicationStmt>
         <sourceDesc>
            <p></p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="oddbyexample" start="TEI ">
            <moduleRef key="tei"/>
            <!--module analysis-->
            <!--module core-->
            <elementRef key="p"/>
            <elementRef key="title"/>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <!--module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <classSpec ident="att.lexicographic"
                       module="dictionaries"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="norm" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="orig" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--module header-->
            <elementRef key="fileDesc"/>
            <elementRef key="publicationStmt"/>
            <elementRef key="sourceDesc"/>
            <elementRef key="teiHeader"/>
            <elementRef key="titleStmt"/>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <!--module linking-->
            <!--module msdescription-->
            <!--module namesdates-->
            <classRef key="model.persNamePart"/>
            <!--module tagdocs-->
            <macroRef key="macro.anyXML"/>
            <macroRef key="macro.schemaPattern"/>
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <classSpec ident="att.combinable"
                       module="tagdocs"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.identified"
                       module="tagdocs"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
                  <attDef ident="status" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.divLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.responsibility"
                       module="tei"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.editLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="evidence" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.global" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.interpLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="inst" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group"
                       module="tei"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional"
                       module="tei"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--module textcrit-->
            <classRef key="att.textCritical"/>
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <classSpec ident="att.textCritical"
                       module="textcrit"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </classSpec>
            <!--module textstructure-->
            <elementRef key="TEI"/>
            <elementRef key="body"/>
            <elementRef key="text"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <!--module transcr-->
            <!--module verse-->
         </schemaSpec>
      </body>
   </text>
</TEI>
