Test/expected-results/oddbyexample.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>ODD by Example customization</title>
         </titleStmt>
         <publicationStmt>
            <p>Unpublished first draft </p>
         </publicationStmt>
         <sourceDesc>
            <p/>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="oddbyexample" start="TEI ">
            <moduleRef key="tei"/>
            <!--module textcrit-->
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <!--module namesdates-->
            <classRef key="model.persNamePart"/>
            <!--module dictionaries-->
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <!--module tagdocs-->
            <macroRef key="macro.anyXML"/>
            <macroRef key="macro.schemaPattern"/>
            <classRef key="model.contentPart"/>
            <!--module core-->
            <elementRef key="p"/>
            <elementRef key="title"/>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <!--module header-->
            <elementRef key="fileDesc"/>
            <elementRef key="publicationStmt"/>
            <elementRef key="sourceDesc"/>
            <elementRef key="teiHeader"/>
            <elementRef key="titleStmt"/>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <!--module verse-->
            <!--module msdescription-->
            <!--module transcr-->
            <!--module linking-->
            <!--module analysis-->
            <!--module textstructure-->
            <elementRef key="TEI"/>
            <elementRef key="body"/>
            <elementRef key="text"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <attList>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
